<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Bubbles' Team">
    <meta name="description"
      content="Virtual Reality environments with Node.js and Three.js">
    <title>Bubbles</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    {{#if context2d }}
      <link rel="stylesheet" type="text/css" href="/css/Formulario.css">
      <script src="/js/form-validation.js"></script>
    {{else}}
      <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
      <link rel="stylesheet" type="text/css" href="/css/home.css" />

      <script src="/libs/three.js/build/three.min.js"></script>
      <script src="/libs/dat.gui.min.js"></script>
      <script src="/libs/stats.min.js"></script>
      <script src="/libs/three.js/src/loaders/JSONLoader.js"></script>

      <script src="/libs/jquery.min.js"></script>
      <script src="/libs/jquery-color.min.js"></script>

      <script src="/js/3core.js"></script>
    {{/if}}
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
