body
{
	background-color: #292DD7;
	margin: 0;
}
h1
{
	color: #FFF;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
}
a#go
{
	color: #FFF;
	font-family: Monaco;
	margin-left: 5%;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
li a
{
	color: #FFF;
	text-decoration: none;
}
nav
{
	font-family: LucidaGrande;
	text-align: right;
}
nav ul
{
	list-style: none;
	margin-right: 10px;
}
ul li
{
	border-radius: 10px;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	padding: 5px;
}